# Importa bibliotecas

In [1]:
import pandas as pd

# Importa arquivo para pandas

In [23]:
df = pd.read_csv('ArquivosFTP/AC2010.txt', sep = ';', encoding='latin1')

In [24]:
df

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,...,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo
0,NaN,{ñ class},{ñ class},99,99,99,11,632120,16102,20109,...,"000001,50",1610201,1,6,"6,5",2,1,CNPJ,0,10
1,{ñ class},{ñ class},{ñ class},50,99,99,11,632120,16102,20109,...,"000001,41",1610201,1,6,"8,5",0,1,CNPJ,0,10
2,{ñ class},{ñ class},{ñ class},99,99,99,21,715505,16102,20109,...,"000001,16",1610201,1,6,"4,5",2,1,CNPJ,0,10
3,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000,98",4120400,1,7,"3,0",2,1,CNPJ,0,10
4,{ñ class},{ñ class},{ñ class},99,99,99,11,772105,16102,20109,...,"000001,55",1610201,1,6,"25,8",0,1,CNPJ,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162143,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,84248,75248,...,"000007,49",8424800,2,10,"9,9",1,1,CNPJ,0,35
162144,{ñ class},{ñ class},{ñ class},99,99,99,0,241005,84248,75248,...,"000006,28",8424800,2,10,"29,3",0,1,CNPJ,0,30
162145,{ñ class},{ñ class},{ñ class},99,99,99,0,411010,84116,75116,...,"000004,10",8411600,2,7,"295,5",0,1,CNPJ,0,30
162146,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,84116,75116,...,"000006,58",8411600,2,7,"11,8",2,1,CNPJ,0,35
162147,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,56112,55212,...,"000003,89",5611201,2,5,"199,9",0,1,CNPJ,0,60

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162148 entries, 0 to 162147
Data columns (total 45 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Bairros SP               162147 non-null  object
 1   Bairros Fortaleza        162148 non-null  object
 2   Bairros RJ               162148 non-null  object
 3   Causa Afastamento 1      162148 non-null  int64
 4   Causa Afastamento 2      162148 non-null  int64
 5   Causa Afastamento 3      162148 non-null  int64
 6   Motivo Desligamento      162148 non-null  int64
 7   CBO Ocupação 2002        162148 non-null  int64
 8   CNAE 2.0 Classe          162148 non-null  int64
 9   CNAE 95 Classe           162148 non-null  int64
 10  Distritos SP             162148 non-null  object
 11  Vínculo Ativo 31/12      162148 non-null  int64
 12  Faixa Etária             162148 non-null  int64
 13  Faixa Hora Contrat       162148 non-null  int64
 14  Faixa Remun Dezem (SM)   162148 non-null  int64
 15  Faixa Remun Média (SM)   162148 non-null  int64
 16  Faixa Tempo Emprego      162148 non-null  int64
 17  Escolaridade após 2005   162148 non-null  int64
 18  Qtd Hora Contr           162148 non-null  int64
 19  Idade                    162148 non-null  int64
 20  Ind CEI Vinculado        162148 non-null  int64
 21  Ind Simples              162148 non-null  int64
 22  Mês Admissão             162148 non-null  int64
 23  Mês Desligamento         162148 non-null  int64
 24  Mun Trab                 162148 non-null  int64
 25  Município                162148 non-null  int64
 26  Nacionalidade            162148 non-null  int64
 27  Natureza Jurídica        162148 non-null  int64
 28  Ind Portador Defic       162148 non-null  int64
 29  Qtd Dias Afastamento     162148 non-null  int64
 30  Raça Cor                 162148 non-null  int64
 31  Regiões Adm DF           162148 non-null  int64
 32  Vl Remun Dezembro Nom    162148 non-null  object
 33  Vl Remun Dezembro (SM)   162148 non-null  object
 34  Vl Remun Média Nom       162148 non-null  object
 35  Vl Remun Média (SM)      162148 non-null  object
 36  CNAE 2.0 Subclasse       162148 non-null  int64
 37  Sexo Trabalhador         162148 non-null  int64
 38  Tamanho Estabelecimento  162148 non-null  int64
 39  Tempo Emprego            162148 non-null  object
 40  Tipo Admissão            162148 non-null  int64
 41  Tipo Estab               162148 non-null  int64
 42  Tipo Estab.1             162148 non-null  object
 43  Tipo Defic               162148 non-null  int64
 44  Tipo Vínculo             162148 non-null  int64
dtypes: int64(35), object(10)
memory usage: 55.7+ MB

In [26]:
df.columns

Index(['Bairros SP', 'Bairros Fortaleza', 'Bairros RJ', 'Causa Afastamento 1',
       'Causa Afastamento 2', 'Causa Afastamento 3', 'Motivo Desligamento',
       'CBO Ocupação 2002', 'CNAE 2.0 Classe', 'CNAE 95 Classe',
       'Distritos SP', 'Vínculo Ativo 31/12', 'Faixa Etária',
       'Faixa Hora Contrat', 'Faixa Remun Dezem (SM)',
       'Faixa Remun Média (SM)', 'Faixa Tempo Emprego',
       'Escolaridade após 2005', 'Qtd Hora Contr', 'Idade',
       'Ind CEI Vinculado', 'Ind Simples', 'Mês Admissão', 'Mês Desligamento',
       'Mun Trab', 'Município', 'Nacionalidade', 'Natureza Jurídica',
       'Ind Portador Defic', 'Qtd Dias Afastamento', 'Raça Cor',
       'Regiões Adm DF', 'Vl Remun Dezembro Nom', 'Vl Remun Dezembro (SM)',
       'Vl Remun Média Nom', 'Vl Remun Média (SM)', 'CNAE 2.0 Subclasse',
       'Sexo Trabalhador', 'Tamanho Estabelecimento', 'Tempo Emprego',
       'Tipo Admissão', 'Tipo Estab', 'Tipo Estab.1', 'Tipo Defic',
       'Tipo Vínculo'],
      dtype='object')

In [27]:
df.describe()

#count = quadntidade de registros

,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,...,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tipo Admissão,Tipo Estab,Tipo Defic,Tipo Vínculo
count,162148.000000,162148.0,162148.0,162148.000000,162148.000000,162148.000000,162148.000000,162148.000000,162148.000000,162148.000000,...,162148.000000,162148.000000,162148.0,1.621480e+05,162148.000000,162148.000000,162148.000000,162148.000000,162148.000000,162148.000000
mean,98.999698,99.0,99.0,3.565903,468593.211560,62439.094124,60579.055141,0.747385,4.891445,5.393073,...,5.514820,37.381602,0.0,6.243916e+06,1.408429,6.783617,0.569887,1.058909,0.006463,19.242309
std,0.121686,0.0,0.0,6.963100,200490.642833,24965.961515,20492.503286,0.434513,1.322279,0.864624,...,34.688257,43.294683,0.0,2.496595e+06,0.491545,2.755083,0.875462,0.338155,0.137357,14.042556
min,50.000000,99.0,99.0,0.000000,10105.000000,1113.000000,1112.000000,0.000000,1.000000,1.000000,...,0.000000,1.000000,0.0,1.113010e+05,1.000000,1.000000,0.000000,1.000000,0.000000,10.000000
25%,99.000000,99.0,99.0,0.000000,331205.000000,46231.000000,50504.000000,0.000000,4.000000,5.000000,...,0.000000,8.000000,0.0,4.623199e+06,1.000000,5.000000,0.000000,1.000000,0.000000,10.000000
50%,99.000000,99.0,99.0,0.000000,422105.000000,77322.000000,74608.000000,1.000000,5.000000,6.000000,...,0.000000,8.000000,0.0,7.732201e+06,1.000000,7.000000,0.000000,1.000000,0.000000,10.000000
75%,99.000000,99.0,99.0,10.000000,521130.000000,84116.000000,75116.000000,1.000000,6.000000,6.000000,...,0.000000,99.000000,0.0,8.411600e+06,2.000000,10.000000,1.000000,1.000000,0.000000,30.000000
max,99.000000,99.0,99.0,80.000000,992225.000000,99008.000000,99007.000000,1.000000,99.000000,6.000000,...,365.000000,99.000000,0.0,9.900800e+06,2.000000,10.000000,9.000000,3.000000,6.000000,97.000000

In [28]:
print(df['Causa Afastamento 1'].unique())

[99 50]

In [29]:
print(df['Causa Afastamento 2'].unique())

[99]

In [31]:
df.shape

(162148, 45)

In [32]:
df['UF'] = 'AC'
df

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,...,CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,UF
0,NaN,{ñ class},{ñ class},99,99,99,11,632120,16102,20109,...,1610201,1,6,"6,5",2,1,CNPJ,0,10,AC
1,{ñ class},{ñ class},{ñ class},50,99,99,11,632120,16102,20109,...,1610201,1,6,"8,5",0,1,CNPJ,0,10,AC
2,{ñ class},{ñ class},{ñ class},99,99,99,21,715505,16102,20109,...,1610201,1,6,"4,5",2,1,CNPJ,0,10,AC
3,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,4120400,1,7,"3,0",2,1,CNPJ,0,10,AC
4,{ñ class},{ñ class},{ñ class},99,99,99,11,772105,16102,20109,...,1610201,1,6,"25,8",0,1,CNPJ,0,10,AC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162143,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,84248,75248,...,8424800,2,10,"9,9",1,1,CNPJ,0,35,AC
162144,{ñ class},{ñ class},{ñ class},99,99,99,0,241005,84248,75248,...,8424800,2,10,"29,3",0,1,CNPJ,0,30,AC
162145,{ñ class},{ñ class},{ñ class},99,99,99,0,411010,84116,75116,...,8411600,2,7,"295,5",0,1,CNPJ,0,30,AC
162146,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,84116,75116,...,8411600,2,7,"11,8",2,1,CNPJ,0,35,AC
162147,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,56112,55212,...,5611201,2,5,"199,9",0,1,CNPJ,0,60,AC

In [33]:
df['ANO'] = 2010
df

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,...,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,UF,ANO
0,NaN,{ñ class},{ñ class},99,99,99,11,632120,16102,20109,...,1,6,"6,5",2,1,CNPJ,0,10,AC,2010
1,{ñ class},{ñ class},{ñ class},50,99,99,11,632120,16102,20109,...,1,6,"8,5",0,1,CNPJ,0,10,AC,2010
2,{ñ class},{ñ class},{ñ class},99,99,99,21,715505,16102,20109,...,1,6,"4,5",2,1,CNPJ,0,10,AC,2010
3,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,1,7,"3,0",2,1,CNPJ,0,10,AC,2010
4,{ñ class},{ñ class},{ñ class},99,99,99,11,772105,16102,20109,...,1,6,"25,8",0,1,CNPJ,0,10,AC,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162143,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,84248,75248,...,2,10,"9,9",1,1,CNPJ,0,35,AC,2010
162144,{ñ class},{ñ class},{ñ class},99,99,99,0,241005,84248,75248,...,2,10,"29,3",0,1,CNPJ,0,30,AC,2010
162145,{ñ class},{ñ class},{ñ class},99,99,99,0,411010,84116,75116,...,2,7,"295,5",0,1,CNPJ,0,30,AC,2010
162146,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,84116,75116,...,2,7,"11,8",2,1,CNPJ,0,35,AC,2010
162147,{ñ class},{ñ class},{ñ class},99,99,99,0,142105,56112,55212,...,2,5,"199,9",0,1,CNPJ,0,60,AC,2010